---
import Layout from "../layouts/Layout.astro";
import MainContainer from "../components/MainContainer.astro";
import Container from "../components/Container.astro";
---
<script>
	const emailSpan = document.getElementById("frusEmail") as HTMLSpanElement;
	
	function copyToClipboard() {
		const textToCopy = emailSpan.textContent
		var textInput = document.createElement('input');
		document.body.appendChild(textInput)
		textInput.value = textToCopy ?? '';
		
		textInput.select();
		textInput.setSelectionRange(0, 9999);
		navigator.clipboard.writeText(textInput.value)

		textInput.remove();
	}

	emailSpan.addEventListener("click", (event) => {
		event.preventDefault();
		copyToClipboard();
	});
</script>

<Layout title="Frusrite">
	<MainContainer>
		<div id="solution"	class="flex items-center h-[80vh]">
			<Container clss="h-screen">
				<div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
					<div class="md:5/12 lg:w-1/2 ">
						<img 
							src="./images/frusrite_catalog.jpg" 
							alt="catalogo de produtos" 
							loading="lazy"
							width=""
							height=""
							class="w-full rounded-xl" 
						/>
					</div>
					<div class="md:7/12 lg:w-1/2">
						<h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
							Sobre a Frusrite
						</h2>
						<p class="my-8 text-gray-600 dark:text-gray-300">
							A Frusrite surgiu de uma parceria entre a JFeffects e a Ferri Custom FX para produzir pedais baseados nos timbres clássicos que amamos.<br>
							Nossa empresa teve início no começo de 2021 e já fizemos mais de 650 pedais, que estão espalhados por 30 países e por todos os estados brasileiros.<br><br>
							Para entrar na lista de espera dos nossos pedais, clique aqui ou chame no WhatsApp (41) 99191-2258. <br>
							E para conhecer nossos modelos, dê uma olhada na barra acima com uma página para cada pedal.
						</p>
						<div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
							<div class="mt-8 flex gap-4 md:items-center">
								<div class="w-8 h-8 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 m-auto text-indigo-500 dark:text-indigo-400">
										<path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
									  </svg> 
								</div>
								<div class="w-5/6">
									<h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Nossas redes</h3>
									<div id="socials">
										<ul role="list" class="flex flex-wrap gap-2">
											<li class="flex items-center space-x-3">
												<a href="https://www.instagram.com/frusrite/" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													class="w-5"
													viewBox="0 0 20 20"
												>
													<path
													d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
													/>
												</svg>
												</a>
											</li>
											<li class="flex items-center space-x-3">
												<a href="https://www.facebook.com/frusrite" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													class="w-5"
													viewBox="0 0 20 20"
												>
													<path
													d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
													/>
												</svg>
												</a>
											</li>
											<li class="flex items-center space-x-3">
												<a href="https://api.whatsapp.com/send/?phone=5541991912258&text&type=phone_number&app_absent=0" target="_blank" class="flex items-center space-x-3 transition hover:text-primary">
													<svg fill="currentColor" height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 308 308" xml:space="preserve">
														<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
														<g id="SVGRepo_iconCarrier">
															 <g id="XMLID_468_"> 
																<path id="XMLID_469_" d="M227.904,176.981c-0.6-0.288-23.054-11.345-27.044-12.781c-1.629-0.585-3.374-1.156-5.23-1.156 c-3.032,0-5.579,1.511-7.563,4.479c-2.243,3.334-9.033,11.271-11.131,13.642c-0.274,0.313-0.648,0.687-0.872,0.687 c-0.201,0-3.676-1.431-4.728-1.888c-24.087-10.463-42.37-35.624-44.877-39.867c-0.358-0.61-0.373-0.887-0.376-0.887 c0.088-0.323,0.898-1.135,1.316-1.554c1.223-1.21,2.548-2.805,3.83-4.348c0.607-0.731,1.215-1.463,1.812-2.153 c1.86-2.164,2.688-3.844,3.648-5.79l0.503-1.011c2.344-4.657,0.342-8.587-0.305-9.856c-0.531-1.062-10.012-23.944-11.02-26.348 c-2.424-5.801-5.627-8.502-10.078-8.502c-0.413,0,0,0-1.732,0.073c-2.109,0.089-13.594,1.601-18.672,4.802 c-5.385,3.395-14.495,14.217-14.495,33.249c0,17.129,10.87,33.302,15.537,39.453c0.116,0.155,0.329,0.47,0.638,0.922 c17.873,26.102,40.154,45.446,62.741,54.469c21.745,8.686,32.042,9.69,37.896,9.69c0.001,0,0.001,0,0.001,0 c2.46,0,4.429-0.193,6.166-0.364l1.102-0.105c7.512-0.666,24.02-9.22,27.775-19.655c2.958-8.219,3.738-17.199,1.77-20.458 C233.168,179.508,230.845,178.393,227.904,176.981z">
																</path> 
																<path id="XMLID_470_" d="M156.734,0C73.318,0,5.454,67.354,5.454,150.143c0,26.777,7.166,52.988,20.741,75.928L0.212,302.716 c-0.484,1.429-0.124,3.009,0.933,4.085C1.908,307.58,2.943,308,4,308c0.405,0,0.813-0.061,1.211-0.188l79.92-25.396 c21.87,11.685,46.588,17.853,71.604,17.853C240.143,300.27,308,232.923,308,150.143C308,67.354,240.143,0,156.734,0z M156.734,268.994c-23.539,0-46.338-6.797-65.936-19.657c-0.659-0.433-1.424-0.655-2.194-0.655c-0.407,0-0.815,0.062-1.212,0.188 l-40.035,12.726l12.924-38.129c0.418-1.234,0.209-2.595-0.561-3.647c-14.924-20.392-22.813-44.485-22.813-69.677 c0-65.543,53.754-118.867,119.826-118.867c66.064,0,119.812,53.324,119.812,118.867 C276.546,215.678,222.799,268.994,156.734,268.994z">
																</path> 
																</g> 
														</g>
													</svg>
												</a>
											</li>
											<li class="flex items-center space-x-3">
												<span id="frusEmail" class="flex items-center space-x-3 transition hover:text-primary cursor-pointer">
													frusrite@gmail.com
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</Container>
		</div>
	</MainContainer>
</Layout>