---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/badge.astro";
import Container from "../components/Container.astro";
import MainContainer from "../components/MainContainer.astro";
---
<script>
    import { copyToClipboard } from "../lib/textUtil";

    const elementCopy = document.getElementById('upport-contact') as HTMLSpanElement;
    
    elementCopy.addEventListener('click', (event) => {
        event.preventDefault();
        copyToClipboard(elementCopy);
    });
    
</script>

<Layout title="frusrite">
    <MainContainer>
        <div class="flex items-center md:h-[80vh]" id="support">
            <Container>
                <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
                    <div class="md:5/12 lg:w-1/2">
                        <img 
                            src="./images/support.jpg" 
                            alt="imagem da pagina de contato"
                            loading="lazy"
                            width=""
                            height=""
                            class="w-full rounded-xl"
                        />
                    </div>

                    <div class="md:7/12 lg:w-1/2">
                        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-whitw">Suporte</h2>
                        <p class="my-8 text-gray-600 dark:text-gray-300">Caso tenha dúvidas ou problemas entre em contato com nosso suporte.</p>

                        <div class="divide-y space-y-4 divide-gray-100 dark:diveide-gray-800">
                            <div class="mt-8 flex gap-4 md:items-center">
                                <Badge color="indigo" type="message"/>
                                <div class="w-5/6">
                                    <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Thiago Ferri</h3>
                                    <span id="ferriEmail" class="info-copy flex items-center space-x-3 transition hover:text-primary cursor-pointer">
                                        frusrite@gmail.com
                                    </span>
                                    <span class="flex flex-wrap items-center space-x-3 transition hover:text-primary cursor-pointer">
                                        WhatsApp: &nbsp 
                                        <span id="support-contact"class="info-copy">+55 (11) 98395-7114</span>
                                        .
                                    </span>
                                </div>
                            </div>

                            <div class="pt-4 flex gap-4 md:items-center">
                                <Badge color="teal" type="location" />
                                <div class="w-5/6">
                                    <h3 class="font-semibold text:lg text-gray-700 dark:text-teal-300">Frusrite</h3>
                                    <span class="flex items-center space-x-3">
                                        Endereço: Rua Santa Teresinha - N° 580 <br>
                                        Bairro: Vila Yara Cep: 06026-040. <br>
                                        Cidade: Osasco - SP - Brasil
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Container>
        </div>
    </MainContainer>
</Layout>