---
interface Props {
    selected: boolean;
    text: number;
}

const { selected, text } = Astro.props;
---

<button
    class=`${selected ? 'bg-primary text-white': ''} relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none`
    type="button">
    <span id='page-value'class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        {text}
    </span>
</button>