---
import Header from '../components/Header.astro';
import { AstroFont } from 'astro-font';
import TopDetail from '../components/TopDetail.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Empresa de pedais brasileira frusrite" />
		<title>{title}</title>
		<AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
	</head>
	<body class="bg-white dark:bg-gray-900">
		<TopDetail />
        <Header />
		<slot />
        <Footer />
        <div class="fixed inset-x-2 bottom-2 z-40 mx-auto w-max">
            <a href="/produtos" class="flex gap-3 rounded-2xl border border-yellow-900/30 bg-gradient-to-br from-white/50 to-yellow-100 p-3 shadow-2xl shadow-yellow-900/50 backdrop-blur-xl dark:border-white/10 dark:from-gray-800 dark:to-black/70 dark:shadow-primary/50">
                <svg width="20px" height="20px" viewBox="-9.94 0 63.876 63.876" id="Layer_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g 
                    id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Base_35_"> <g> <path d="M38,0H6C3.791,0,2,1.788,2,3.992v55.892c0,2.205,1.791,3.992,4,3.992h32c2.209,0,4-1.787,4-3.992 V3.992C42,1.788,40.209,0,38,0z" 
                    style="fill:#FF8833;"></path> </g> </g> <g id="Knobs_3_"> <g> <path d="M12,3.992c-2.209,0-4,1.787-4,3.992s1.791,3.992,4,3.992 s4-1.787,4-3.992S14.209,3.992,12,3.992z M22,11.977c-2.209,0-4,1.787-4,3.992s1.791,3.992,4,3.992s4-1.787,4-3.992 S24.209,11.977,22,11.977z M32,3.992c-2.209,0-4,1.787-4,3.992s1.791,3.992,4,3.992s4-1.787,4-3.992S34.209,3.992,32,3.992z" 
                    style="fill-rule:evenodd;clip-rule:evenodd;fill:#B35F24;"></path> </g> </g> <g id="Pedal_Body"> <g> <path d="M40,23.953H4c-2.209,0-4,1.787-4,3.992v31.938c0,2.205,1.791,3.992,4,3.992h36 c2.209,0,4-1.787,4-3.992V27.945C44,25.74,42.209,23.953,40,23.953z" 
                    style="fill:#FF9E59;"></path> </g> </g> <g id="Pedal"> <g> <path d="M36,27.945H8c-2.209,0-4,1.787-4,3.992v23.954c0,2.204,1.791,3.992,4,3.992h28 c2.209,0,4-1.788,4-3.992V31.938C40,29.732,38.209,27.945,36,27.945z" style="fill:#333333;"></path> </g> </g> <g id="Stripes_6_"> <g> 
                    <path d="M10,31.938c-1.104,0-2,0.894-2,1.996v19.962 c0,1.102,0.896,1.996,2,1.996s2-0.895,2-1.996V33.934C12,32.831,11.104,31.938,10,31.938z M18,31.938c-1.104,0-2,0.894-2,1.996 v19.962c0,1.102,0.896,1.996,2,1.996s2-0.895,2-1.996V33.934C20,32.831,19.104,31.938,18,31.938z M26,31.938 c-1.104,0-2,0.894-2,1.996v19.962c0,1.102,0.896,1.996,2,1.996s2-0.895,2-1.996V33.934C28,32.831,27.104,31.938,26,31.938z M34,31.938c-1.104,0-2,0.894-2,1.996v19.962c0,1.102,0.896,1.996,2,1.996s2-0.895,2-1.996V33.934 C36,32.831,35.104,31.938,34,31.938z" 
                    style="fill-rule:evenodd;clip-rule:evenodd;fill:#4D4D4D;"></path> </g> </g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> </g>
                </svg>
                <span class="text-sm font-semibold tracking-wide text-yellow-900 dark:text-white"> Conheça nossos pedais</span>
            </a>
        </div>
	</body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
